

.piko {
  border: 20px solid rgba(255, 255, 255, 0.623);
  border-radius: 100px;
}



.h {
  
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  vertical-align: text-top;
  font-weight: bold;
  letter-spacing: 2px;
}
.g{
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  vertical-align: text-top;
  font-weight: bold;
  letter-spacing: 2px;
}

.r3 {
  border-radius: 3px 3px;
  background: rgba(43, 226, 217, 0.541);
  padding: 20px; 
  
  height: 80px; 
}

.r2 {
  border-radius: 3px 50px;
  background: rgba(43, 189, 226, 0.993);
  padding: 20px; 
  width: 1200px;
  height: 80px; 
}

.r3:hover{
  background: #111;
}

.w{
padding: 10px
}

.lefti {
  float: left;
  width: 300px;
  border: 3px solid rgb(38, 173, 33);
  padding: 10px;
}

.header {
  background-color: blue;
  padding: 10px;
  text-align: center;
  background-image:black;
  
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 50px;
 
}

.appheader {
font-weight: bold;
}

.sidenav {
  height: 100%;
  width: 390px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: whitesmoke;
  overflow-y: scroll;
  overflow-x: hidden 
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
  
  
}

/* Style the content */
.content {
  margin-left: 100px;
  padding-left: 30px;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.abc{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.o{
  background-color:white;
 
}

.butt{
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 2px;
  font-style: italic;
}

.senderr{
  position: absolute;
  
  right:20px;
  bottom: 8px;
}

.h:hover{
  color:whitesmoke;
}

.footer {
  position: absolute;
  bottom:0;
  width:73%;
  height:60px;   /* Height of the footer */
  background:whitesmoke;
  color:black;
  font-size: 20px;
  right:100px;

  
}